html body {
    height: 100vh;
    width: 100%;
}

.container {
    height: 100%;
    width: 100%;
}

.padding-container {
    padding: 20px;
}

h1 {
    color: blue;
}

.link {
    margin-top: 20px;
}

.error-block {
    display: block;
    color: red;
    padding-top: 5px;
}

.signup-form {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
}

.mt-1 {
    margin-top: 1rem;
}

.w-lg {
    width: 300px;
}